<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pers.keter.toynjoy.dao.IFriendDao">

    <select id="getFriendByUserName" resultType="pers.keter.toynjoy.entity.Friend">
        select * from Friend where user_name = #{username}
    </select>

</mapper>